.Board {
    color: #008080;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    justify-content: center;
    align-content: center;
}

.winMessage {
    width: 400px;
    text-align: center;
    font-weight: 600;
}

.blueSign {
    background: #008080;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.redSign {
    background: #daa520;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reset-btn {
    border-radius: 0.5rem;
    width: 130px;
    color: white;
    background: #008080;
}